/* Drawer Styles */
.renuiDrawerContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 35vh;
  position: fixed;
  bottom: 0;
  align-items: center;
  background: #blue;
}

.renuiDrawerContainer {

}

.TopicTitles {
  font-family: 'Amatic SC', cursive;
  font-size: 1.6em;
}
