/* Search Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: #373344;
  align-items: center;
}

.desktopNavBar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 80%;
  color: white;
  justify-content: center;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  align-items: center;
  margin: 0 auto;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color: white;
  box-shadow: 5px 5px 5px #000000;
  background: grey;
  margin-right: 25%;
  margin-left: 25%;
  text-decoration: none;
}

.navButtons {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  color: white;
  box-shadow: 5px 5px 5px #000000;
  cursor:pointer;
  background: grey;
  text-decoration: none;
}

.searchContentInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 5vh;
  font-size: 1.5em;
  margin-top: 30px;
  box-shadow: 5px 5px 5px #000000;
}

.submitButton {
  margin-top: 15px;
  height: 5vh;
  width: 20%;
  box-shadow: 5px 5px 5px #000000;
}

.searchResults {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  color: white;
  box-shadow: 5px 5px 5px #00000;
  cursor:pointer;
  background: grey;
}
