/* Replies Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: #373344;
  align-items: center;
  z-index:0;
}

.desktopNavBar {
display: flex;
flex-direction: row;
height: 10vh;
width: 80%;
color: white;
justify-content: center;
font-variant:small-caps;
font-family: 'Roboto Slab', serif;
font-size: 1.3em;
align-items: center;
margin: 0 auto;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  color: white;
  box-shadow: 5px 5px 5px #000000;
  background: grey;
  text-decoration: none;
  cursor: default;
}

.navButtons {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 1%;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: auto;
  color: white;
  box-shadow: 5px 5px 5px #000000;
  cursor:pointer;
  background: grey;
  text-decoration: none;
  z-index: 10;
}

.navButtons:hover {
  padding: 5px;
  margin: 1%;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: auto;
  background: black;
}

.topicTitle {
  font-size: 1.5em;
}

.topicReplies {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  color: white;
  box-shadow: 5px 5px 5px #000000;
  cursor:pointer;
  background: grey;
}

.topicItems {
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.commentBox {
  display: flex;
  flex-direction: column;
  top:0;
  left:0;
  background: grey;
  min-height:auto;
  width:30vw;
  border-radius:5px;
  box-shadow: 5px 5px 5px #000000;
  padding:15px;
  color: white;
  align-items: center;
  z-index: 100;
}

.commentInput {
  box-shadow: 5px 5px 5px #000000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.submitButtonFour {
    text-decoration: none;
    font-variant:small-caps;
    font-family: 'Roboto Slab', serif;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    height: 30px;
    width: 60px;
    font-size: 1.2em;
    margin-top: 10px;
}
