.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  user-select: none;
}

.slideImage {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.slideAnimation {
  animation-name: fadeIn;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  10% {
    opacity: .2
  }
  50% {
    opacity: .4
  }
  90%{
    opacity: .2
  }
  100% {
    opacity:0
  }
}
