/* Admin Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  align-items: center;
  background: #373344;
}

.picUploadHeader {
  font-size: 1.5em;
  color: white;
}

.chooseFile {
  height: 5vh;
  color: white;
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6%;
  height: 4.5vh;
  font-size: 1.3em;
}

.image {
  display: flex;
  flex-direction: column;
  width:100vw;
  height: auto;
}

.desktopNavBar {
display: flex;
flex-direction: row;
height: 10vh;
width: 80%;
color: white;
justify-content: center;
font-variant:small-caps;
font-family: 'Roboto Slab', serif;
font-size: 1.3em;
align-items: center;
margin: 0 auto;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color: white;
  box-shadow: 5px 5px 5px #000000;
  background: grey;
  margin-right: 15%;
  margin-left: 15%;
  text-decoration: none;
  cursor: default;
}

.navButtons {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  color: white;
  box-shadow: 5px 5px 5px #000000;
  cursor:pointer;
  background: grey;
  text-decoration: none;
  z-index: 10;
}

.navButtons:hover {
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size:1.3em;
  background: #3333c8;
}
