/* Channels Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: #373344;
  align-items: center;
}

.desktopNavBar {
display: flex;
flex-direction: row;
height: 10vh;
width: 80%;
color: white;
justify-content: center;
font-variant:small-caps;
font-family: 'Roboto Slab', serif;
font-size: 1.3em;
align-items: center;
margin: 0 auto;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color: white;
  box-shadow: 5px 5px 5px #0f0f92;
  background: grey;
  margin-right: 25%;
  margin-left: 25%;
  text-decoration: none;
}

.navButtons {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  color: white;
  box-shadow: 5px 5px 5px #0f0f92;
  cursor:pointer;
  background: grey;
  text-decoration: none;
}

.navButtons:hover {
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size:1.3em;
  background: #3333c8;
}

.newTopic {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  color: white;
  box-shadow: 5px 5px 5px #0f0f92;
  cursor:pointer;
  background: grey;
}

.newTopic:hover {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size:1.5em;
  background: #3333c8;
}

.topicEntries {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  color: white;
  box-shadow: 5px 5px 5px #0f0f92;
  cursor:pointer;
  background: grey;
}

.listChannels {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  height: 35vh;
  width: 65%;
  background: white;
  color: black;
  align-items: center
}
